<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon.ico">
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")

</head>

<body>
    <canvas id="myCanvas"></canvas>
    <div class="navbar navbar-inverse navbar-fixed-top text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="navbar-header">
                        <p class="navbar-brand" style="color: #9d9d9d">Financial Portal API</p>
                    </div>
                </div>
                <div class="col">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Swagger API", "Index", "Swagger", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("API Help", "Index", "Help", new { area = "" }, null)</li>
                        <li><a href="https://khumorchang.azurewebsites.net/">Back to My Portfolio</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content pt-5">
        @RenderBody()
    </div>

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/custom.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
